.welcome-site {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.text{
    width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container{
    display: flex;
    width: 55%;
    flex-direction: column;
    gap: 20px;
}

.text-container h1 {
    font-size: 3.6rem;
}

.text-container p {
    font-size: 1rem;
}

.text-container button {
    width: 100%;
    color: #5bb6c9;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 1.2rem;
    cursor: pointer;
}

.imagem {
    width: 55%;
    height: 100%;
    background-image: url("../image/formato.png");
    background-size: 470px;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 75%;
}

.generations-video-games {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 20px;
}

.generations-consoles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.generation-card {
    border-radius: 15px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: transform .3s ease;
}

.generation-card:hover {
    transform: translateY(-8px);
}

.generation-card h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.console-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.console-images img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.evolution-gra{
    width: 100%;
}

.evolution-gra-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* ================  configuração para tablet e celular ================= */
@media only screen and (max-width: 900px){
    .welcome-site{
        flex-direction: column;
    }

    .text{
        width: 100%;
    }

    .text-container{
        align-items: center;
        text-align: center;
        justify-content: center;
        gap:25px;
    }

    .text-container button {
        width: 60%;
    }

    .imagem{
        display: none;
    }

    .generations-consoles{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .console-images{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .text-container{
        width: 100%;
    }

    .text-container p {
        font-size: 1.2rem;
    }
    
    .generations-video-games h1{
        font-size: 1.9rem;
    }

    .generations-video-games p{
        font-size: 0.85rem;
    }
}